@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,800i|Oleo+Script:700&display=swap");


* {
    font-family: Comfortaa;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;

}

.homepage {

    h1 {
        color: #090833;
        font-family: "Oleo Script", cursive;
    }

    .error-message {
        color: red;
        transition: all .5s ease-in-out;
    }

    .search-form {
        display: flex;
        flex-flow: column wrap;
        padding: 1em;
    }

    .search-input {
        height: 3em;
        outline: none;
        padding-left: 1em;
        transition: all .5s ease-in-out;

        &:hover,
        &:focus {
            border: 1px solid #090833;
        }
    }

    .btn-search {
        display: flex;
        justify-content: center;
        background: #090833;
        color: #FFF;
        border-radius: .2em;
        outline: none;
        margin: 0 auto;
        width: 70%;
        height: 2.5em;
        line-height: 2.5em;
        border: none;
        transition: all .5s ease-in-out;

        &:hover {
            box-shadow: 0px 0px 3px 0px #090833;
            background: lighten(#090833, 5%);
        }
    }
}
